<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Stanford CS Planner</title>
  <link rel="stylesheet" href="../styles/index.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="row">
    <div class="column">
      <h2>Year 1</h2>
      <div class="headers">
        <h4>Autumn</h4>
        <h4>Winter</h4>
        <h4>Spring</h4>
      </div>
        <div class="innerColumn" id="1A" ondrop="drop(event)" ondragover="allowDrop(event)">
          {%for course in allCourses%}
          {%if course.defaultQ == "1A"%}
          <div class="course {{course.subject}}" id="{{course.title}}" draggable="true" ondragstart="drag(event)">
            <div class="title">
              <p>{{course.title}}</p>
            </div>
            <div class="units">
              Units = {{course.units}}
            </div>
            <div class="type">
              Type = {{course.subject}}
            </div>
            <div class="button">
              <button type="button" data-toggle="popover"
                title="{{course.title}}"
                data-content="Description: {{course.description}}. Pre-reqs: {{course.prereqs}}">
                View More</button>
            </div>
          </div>
          {%endif%}
          {%endfor%}
        </div>
        <div class="innerColumn" id="1W" ondrop="drop(event)" ondragover="allowDrop(event)">
          {%for course in allCourses%}
          {%if course.defaultQ == "1W"%}
          <div class="course {{course.subject}}" id="{{course.title}}" draggable="true" ondragstart="drag(event)">
            <div class="title">
              <p>{{course.title}}</p>
            </div>
            <div class="units">
              Units = {{course.units}}
            </div>
            <div class="type">
              Type = {{course.subject}}
            </div>
            <div class="button">
              <button type="button" data-toggle="popover"
                title="{{course.title}}"
                data-content="Description: {{course.description}}. Pre-reqs: {{course.prereqs}}">
                View More</button>
            </div>
          </div>
          {%endif%}
          {%endfor%}
        </div>
        <div class="innerColumn" id="1S" ondrop="drop(event)" ondragover="allowDrop(event)">
          {%for course in allCourses%}
          {%if course.defaultQ == "1S"%}
          <div class="course {{course.subject}}" id="{{course.title}}" draggable="true" ondragstart="drag(event)">
            <div class="title">
              <p>{{course.title}}</p>
            </div>
            <div class="units">
              Units = {{course.units}}
            </div>
            <div class="type">
              Type = {{course.subject}}
            </div>
            <div class="button">
              <button type="button" data-toggle="popover"
                title="{{course.title}}"
                data-content="Description: {{course.description}}. Pre-reqs: {{course.prereqs}}">
                View More</button>
            </div>
          </div>
          {%endif%}
          {%endfor%}
        </div>
    </div>
    <div class="column">
      <h2>Year 2</h2>
      <div class="headers">
        <h4>Autumn</h4>
        <h4>Winter</h4>
        <h4>Spring</h4>
      </div>
        <div class="innerColumn" id="2A" ondrop="drop(event)" ondragover="allowDrop(event)">
          {%for course in allCourses%}
          {%if course.defaultQ == "2A"%}
          <div class="course {{course.subject}}" id="{{course.title}}" draggable="true" ondragstart="drag(event)">
            <div class="title">
              <p>{{course.title}}</p>
            </div>
            <div class="units">
              Units = {{course.units}}
            </div>
            <div class="type">
              Type = {{course.subject}}
            </div>
            <div class="button">
              <button type="button" data-toggle="popover"
                title="{{course.title}}"
                data-content="Description: {{course.description}}. Pre-reqs: {{course.prereqs}}">
                View More</button>
            </div>
          </div>
          {%endif%}
          {%endfor%}
        </div>
        <div class="innerColumn" id="2W" ondrop="drop(event)" ondragover="allowDrop(event)">
          {%for course in allCourses%}
          {%if course.defaultQ == "2W"%}
          <div class="course {{course.subject}}" id="{{course.title}}" draggable="true" ondragstart="drag(event)">
            <div class="title">
              <p>{{course.title}}</p>
            </div>
            <div class="units">
              Units = {{course.units}}
            </div>
            <div class="type">
              Type = {{course.subject}}
            </div>
            <div class="button">
              <button type="button" data-toggle="popover"
                title="{{course.title}}"
                data-content="Description: {{course.description}}. Pre-reqs: {{course.prereqs}}">
                View More</button>
            </div>
          </div>
          {%endif%}
          {%endfor%}
        </div>
        <div class="innerColumn" id="2S" ondrop="drop(event)" ondragover="allowDrop(event)">
          {%for course in allCourses%}
          {%if course.defaultQ == "2S"%}
          <div class="course {{course.subject}}" id="{{course.title}}" draggable="true" ondragstart="drag(event)">
            <div class="title">
              <p>{{course.title}}</p>
            </div>
            <div class="units">
              Units = {{course.units}}
            </div>
            <div class="type">
              Type = {{course.subject}}
            </div>
            <div class="button">
              <button type="button" data-toggle="popover"
                title="{{course.title}}"
                data-content="Description: {{course.description}}. Pre-reqs: {{course.prereqs}}">
                View More</button>
            </div>
          </div>
          {%endif%}
          {%endfor%}
        </div>
    </div>
  </div>

<script>
  $(document).ready(function(){
    $('[data-toggle="popover"]').popover();
  });
</script>
<script type="text/javascript" src="../scripts/index.js"></script>
</body>
</html>
