<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Stanford CS Planner</title>
  <link rel="stylesheet" href="../styles/index.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="row">
    <div class="column" style="background-color:#aaa;">
      <h2>Year 1</h2>
        <div class="innerColumn" id="1A" style="background-color:#bbb;" ondrop="drop(event)" ondragover="allowDrop(event)">
          {%for course in allCourses%}
          {%if course.defaultQ == "1A"%}
          <div class="course {{course.subject}}" id="{{course.title}}" draggable="true" ondragstart="drag(event)">
            <div class="title">
              {{course.title}}
            </div>
            <div class="units">
              Units = {{course.units}}
            </div>
            <div class="type">
              Type = {{course.subject}}
            </div>
            <div class="button">
              <button type="button" data-toggle="popover"
                title="{{course.title}}"
                data-content="Description: {{course.description}}. Pre-reqs: {{course.prereqs}}">
                View More</button>
            </div>
          </div>
          {%endif%}
          {%endfor%}
        </div>
        <div class="innerColumn" id="1W" style="background-color:#aaa;" ondrop="drop(event)" ondragover="allowDrop(event)">
        {%for course in allCourses%}
        {%if course.defaultQ == "1W"%}
        <div class="course {{course.subject}}" id="{{course.title}}" draggable="true" ondragstart="drag(event)">
          <div class="title">
            {{course.title}}
          </div>
          <div class="units">
            Units = {{course.units}}
          </div>
          <div class="type">
            Type = {{course.subject}}
          </div>
          <div class="button">
            <button type="button" data-toggle="popover"
              title="{{course.title}}"
              data-content="Description: {{course.description}}. Pre-reqs: {{course.prereqs}}">
              View More</button>
          </div>
        </div>
        {%endif%}
        {%endfor%}
        </div>
        <div class="innerColumn" id="1S" style="background-color:#bbb;" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
    </div>
    <div class="column" style="background-color:#bbb;">
      <h2>Year 2</h2>
      <p>Some text..</p>
    </div>
    <!-- <button type="button" id="check" name="button">Check</button> -->
  </div>

<script>
  $(document).ready(function(){
    $('[data-toggle="popover"]').popover();
  });
</script>
<script type="text/javascript" src="../scripts/index.js"></script>
</body>
</html>
