body {
}
* {
  box-sizing: border-box;
}

h2 {
  text-align: center;
}

h4 {
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}

.headers {
  display: flex;
  justify-content: space-around;
}

.column {
  float: left;
  width: 400px;
  height: 450px;
  padding: 10px;
  background-color:#aaa;
}

.innerColumn{
  float: left;
  width: 33%;
  height: 300px;
  padding: 10px;
  border-style: solid;
  border-color: black;
  background-color: white;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

.popover-title {
  background-color: #73AD21;
  color: black;
  font-size: 28px;
  text-align:center;
}
.popover-content {
  background-color: coral;
  color: #FFFFFF;
  padding: 25px;
}
.arrow {
  border-right-color: red !important;
}

.course {
  height: 100px;
  width: 100px;
  margin-bottom: 5px;
}

.course.Engr {
  background-color: pink;
}
.course.Other {
  background-color: blue;
}
.course.MaSc {
  background-color: green;
}

.button{
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
}

.title {
  font-weight: bold;
  text-align: center;
  font-size: 18px;
}

.button {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.units, .type {
  text-align: center;
}
