body {
}
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  height: 300px;
  padding: 10px;
  /* height: 300px; /* Should be removed. Only for demonstration */ */
}

.innerColumn{
  float: left;
  width: 33%;
  height: 300px;
  padding: 10px;
  /* height: 200px; */
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

/* Popover Header */
.popover-title {
  background-color: #73AD21;
  color: black;
  font-size: 28px;
  text-align:center;
}
/* Popover Body */
.popover-content {
  background-color: coral;
  color: #FFFFFF;
  padding: 25px;
}
/* Popover Arrow */
.arrow {
  border-right-color: red !important;
}

.course {
  height: 100px;
  width: 100px;
  /* background-color: pink; */
}

.course.Engr {
  background-color: pink;
}
.course.Other {
  background-color: blue;
}
.course.MaSc {
  background-color: green;
}

.button{
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
}
